body {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-800);
  padding-top: 88px;
  padding-bottom: 68px;
  /* style */
  background-image: url('../../images/bg-intro-mobile.png');
  background-color: #FF7979;
}

header,
main {
  width: calc(327 / 375 * 100vw);
}

/* TABLET (768px and up) */
@media (min-width: 768px) {

  header {
    width: 525px;
  }

  main {
    width: 540px;
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {
  body {
    flex-direction: row;
    background-image: url('../../images/bg-intro-desktop.png');
  }
}