body {
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-800);
  padding: 88px 24px 68px 24px;
  /* style */
  background-image: url('../../images/bg-intro-mobile.png');
  background-color: #FF7979;
}



/* SMALL MOBILE (375px and up) */
@media (min-width: 375px) {}

/* TABLET (768px and up) */
@media (min-width: 768px) {}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {}