header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-200);
}

/* heading */
h1 {
  /* typography */
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.3px;
  /* style */
  color: var(--color-white);
  /* layout */
  text-align: center;
}

/* paragraph */
p {
  /* typography */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 165%;
  /* style */
  color: var(--colors-white, #FFF);
  /* layout */
  text-align: center;
}