header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
}

/* heading */
h1 {
  /* typography */
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.3px;
  /* style */
  color: var(--color-white);
  /* layout */
  text-align: center;
}

/* paragraph */
p {
  /* typography */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 165%;
  /* style */
  color: var(--color-white);
  /* layout */
  text-align: center;
}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  h1 {
    /* typography */
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.5px;
    text-align: center;
    /* style */
    color: var(--color-white, #FFF);
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {}