button {
  /* layout */
  display: flex;
  height: 56px;
  width: 100%;
  padding: var(--spacing-200) var(--spacing-400);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100);
  /* style */
  border-radius: 5px;
  background: var(--color-green-400);
  box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.09) inset;
  /* typography */
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 2px;
  color: var(--color-white);
}

button:active,
button:disabled {
  background: var(--color-green-300);
}