form {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-100);
  padding: var(--spacing-300);
  width: 100%;
  /* style */
  border-radius: 10px;
  background: var(--color-white);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
}

input {
  /* layout */
  display: flex;
  height: 56px;
  padding: var(--spacing-200) var(--spacing-300);
  align-items: center;
  gap: var(--spacing-100);
  /* style */
  border-radius: 5px;
  border: 1px solid var(--color-gray-200);
  background: var(--color-white);
}

form p {
  font-size: 11px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 190%;
  color: var(--color-purple-350);
}

form a {
  font-weight: 700;
  color: var(--color-red-400);
}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  form {
    gap: var(--spacing-300);
    padding: var(--spacing-400) var(--spacing-500);
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {}